body {background-color:#ffffff;}
header{background-color:#eeaaaa;}

p.head {color:#003380;
	font-size:300%;
	font-family: 'Ubuntu', sans-serif;}

section {margin-left:00px;
	float:center;
	padding:50px;
	height:300px;
	width:800px}
table.sec {padding:0px;
	width:85%;
	table-align:center;}

img.pic {height:300px;
	width:200px;
	}

p.menu {font-size:200%; 
	color:#666699;}

div#home, div#pro , div#int, div#con {/*background-color:#66ccff;*/
					opacity:0.7;}

.intro {font-size:200%;
	font-family:'Ubuntu', cursive;
	color: #ffffff;}

div.nav2{position:fixed;}

.sh {font-family:'Shadows Into Light',cursive;
	font-size:300%;
	text-shadow:3px 3px 3px #aaa;
	color: #ffffff;}

